<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <title>Form peminjaman</title>
</head>
<body>
  <div>
    <h2><p style="text-align:center">Form Peminjaman</p></h2>
    <script type="text/javascript">
      function selectOnChange(obj) {

        var val = obj.options[obj.selectedIndex].value;
        var text = obj.options[obj.selectedIndex].text;
        document.getElementById("field1").value = val;
        document.getElementById("field2").value = text;
     }
</script>
<body>
    <div>
      <form class="col-2" action="" method="POST">
        {% csrf_token %} 
                <div>
                <label for="na">Nomor Anggota</label>
                <select onchange='selectOnChange(this)' name="choose">
                <!-- <option></option> -->
                {% for d in datanama %}
                <option value="{{d.nik}}"> {{d.nik}} - {{d.nama_anggota}}</option>
                {% endfor %}
           </select>
            </div>
            <button type="submit" >Cari</button>
       </form>
     </div>
  </body>
    <br>
  <form class = "col-8" action="">
    <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Nomor Anggota</th>
            <th scope="col">Nama Buku</th>
            <th scope="col">Tgl-Kembali</th>

          </tr>
        </thead>
        {% for d in isi %}
        <tbody>
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{d.nmr_anggota}}</td>
            <td>{{d.buku}}</td>
            <td>{{d.tgl_kembali}}</td>
          </tr>
         </tbody>
        {% endfor %}                            
         </table>
        </form>
     </div> 
  </body>
</html>