<html lang="en">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
     <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
<body>
  <script type="text/javascript">
    function selectOnChange(obj) {

        var val = obj.options[obj.selectedIndex].value;
        var text = obj.options[obj.selectedIndex].text;
        document.getElementById("field1").value = val;
        document.getElementById("field2").value = text;
     }
</script>
</head>
<body>

    <div>
        <ul><li><h2>Nomor anggota</h2></li></ul>
        <select onchange='selectOnChange(this)' name="choose">
              <option value="0"></option>
              <option value="Rahmtun nazila">181111102</option>
              <option value="Ahmad yasin">181111103</option>
              <option value="Rizal Hidayattullah">181111105</option>

         </select>

     </div>
     <ul><li><h2>Nama Angggota</h2></li></ul>
     <div>
          <input type="text" name="ref_person" id="field1" value="">
      </div>
</body>
</html>